body{
  /* background: light-grey; */
}


.outline{
  display: grid;
  position: relative;
  margin: auto;

  height: 100vh;
  width: 80%;

  grid-template-areas: "borderL  name  borderR"
                       "borderL  object borderR"
                       "borderL  build  borderR";
  grid-template-columns: 3rem   1fr 3rem;
  grid-template-rows: 1fr 1fr 5rem;
}

.border{
  background: url('../assets/blender_extruder_arm.png') center center no-repeat;
  background-size: cover;
}

.bord-l{
    grid-area:borderL;
}

.bord-r{
    grid-area: borderR;
}

.name{
  grid-area:name;
  margin:auto;

  /* width:40rem; */

  text-align: center;
}


.build-plate{
  grid-area: build;
  margin:0 auto;

  height:3rem;
  width:80%;

  background: url('../assets/build_plate.png') center top no-repeat;
  background-size: contain;
}

.object{
  grid-area: object;
  position: absolute;
  display: flex;
  margin: auto;
  bottom: 0rem;
  z-index: 0;

  width:100%;
}

.object img{
  margin:auto;

  width:15rem;
  height: 15rem;
}

.white{
  margin:auto;
  /* position:relative; */
  /* display: inline; */
  z-index: 1;

  height:10rem;
  width:15rem;

  border: 4px solid green;
}

.extruder{
  /* display: none; */
  position: absolute;
  z-index: 1;

  height: 35rem;
  width:100vh;

  background: url('../assets/blender_extruder_final.png') center center no-repeat;
  background-size: 150rem auto;
  overflow: hidden; /* not sure if necissary*/
  border:1px solid red;
}


/* fonts */
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
}


@media only screen and (max-width:850px){
  .outline{
    width:100%;
  }

  .name{
    /* font-size: */
  }

  .outline{
    grid-template-columns: 2rem   1fr 2rem;
    grid-template-rows: 2fr 1fr .5fr;
  }
