body{
  /* background: light-grey; */
  overflow:hidden;
}


.outline{
  display: flex;
  position: relative;
  margin: auto;

  height: 100vh;
  width: 80%;

  border:1px solid red;
}

.printer{
  position: relative;
  margin:0 auto;

  height:100vh;
  width:100%;
  /* overflow: hidden; */

  background: url('../assets/non-perspective-background_edited.png') center top no-repeat;
  background-size: contain;
  border:1px solid green;
}

.printer img{


  width:100%;

}

.name{
  margin:auto;

  /* width:40rem; */

  text-align: center;
}

.object{
  display: flex;
  margin: auto;
  bottom: 0rem;
  z-index: 0;

  width:100%;
}

.object img{
  position: absolute;
  margin:auto;

  width:15rem;
  height: 15rem;
}



.extruder{
  /* display: none; */
  position: absolute;
  z-index: 1;

  height: 35rem;
  width:100vh;

  background: url('../assets/blender_extruder_final.png') center center no-repeat;
  background-size: 150rem auto;
  overflow: hidden; /* not sure if necissary*/
  border:1px solid red;
}


/* fonts */
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
}


@media only screen and (max-width:850px){

  .outline{
    width:100%;
  }

  .name{
    /* font-size: */
  }

  .outline{
    grid-template-columns: 2rem   1fr 2rem;
    grid-template-rows: 2fr 1fr .5fr;
  }
