h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  background-color: grey;
  color: white;
  width:30rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  margin: auto;
  position: static;
  z-index: 2;
}

.outline{
  margin: auto;
  display: flex;
  /* position: absolute; */
  justify-content: space-between;
  height: 100vh;
  width: 85%;
  top:-30;
  border: 1px solid green;
}

.boarder{
  display: block;
  background: url('../assets/blender_extruder_arm.png') center center no-repeat;
  background-size: contain;
  width: 3rem;
  overflow: hidden;

}

.extruder{
display: block;
background: url('../assets/blender_extruder_final.png') center center no-repeat;
height: 35rem;
border:1px solid red;
}
